/* Update.css */

/* Container */
.update-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* margin-top:25px */
  }
  
  /* Form */
  .update-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Form group */
  /* .form-group {
    margin-bottom: 20px;
  } */
  
  /* Label */
  label {
    font-weight: bold;
  }
  
  /* Input fields */
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    /* padding: 15px; */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Textarea */
  textarea {
    resize: vertical;
  }
  
  /* Button */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Animations */
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .blinking {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
