

.hmain img{
  width: 100%;
  height: 800px;
  padding-top: 80px;
  transition: transform 0.3s ease;
}

.Mainp {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  
  padding: 25px;
}

.boxin {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  /* border: 1px solid #aa3e3e; */
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  margin: 5px;
}
.boximg {
  height: 200px;
  /* width: 300px; */
  margin-bottom: 10px;
}
.boximg img{
  height: 200px;
  width: 300px;
}

.Desc {
  background-color: #ffffff;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#butt2 {
  width: 65px;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

/* Animate the image */
.boximg img {
  transition: transform 0.3s ease;
}

.boximg:hover img {
  transform: scale(1.1); 
}
.Desc {
  transition: transform 0.3s ease;
}

.Desc:hover {
  transform: translateY(-10px);
}


.butt2 {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.boxin:hover .butt2 {
  opacity: 1; /* Fade in effect on hover */
}

.butt2 {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.butt2:hover {
  opacity: 1; /* Change opacity to fully visible on hover */
}

.butt2 h3.oner {
  color: #ffffff; /* Initial color */
  transition: color 0.3s ease; /* Smooth color transition */
}

.butt2:hover h3.oner {
  color: rgb(0, 0, 0); /* Change color on hover */
}
.onerr{
  display: flex;
  font-weight: bolder;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .hmain{
    display: none;
  }
}
