.rig{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 150px;
    flex-direction: column;
    margin-top: 5px;
}
.rig {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .rig h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rig ul {
    /* list-style-type: none; */
    list-style-type: square;
    padding-left: 50px;
    margin: 0;
  }
  
  .rig ul li {
    margin-bottom: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .rig {
      padding: 10px;
    }
  
    .rig h2 {
      font-size: 20px;
    }
  }
  